/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights

Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights

Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:

#fdf2e9
#fae5d3
#eb984e

- Shades: 

#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS


--- 06 BORDER-RADIUS


--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

/**************************/
/* HEADER */
/**************************/

header {
  height: 100vh;
  padding: 20px;
}

.header-img-container {
  height: 100%;
  background-image: url(images/mountain-big.jpg);
  background-size: cover;
}

.header-container {
  padding-top: 2rem;
  padding-left: 12rem;
  margin-bottom: 30rem;

  display: flex;
  align-items: center;
  gap: 5rem;
}

.logo {
  width: 10rem;
}

.logo-icon {
  font-size: 7rem;
  color: white;
}

.main-nav-list {
  list-style-type: none;

  display: flex;
  gap: 10rem;
}

.main-nav-link {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #fff;
}

.header-message {
  width: 120rem;
  text-align: right;
  color: #fff;
}

.header-title {
  font-size: 5.4rem;
  letter-spacing: -2px;
  font-weight: 700;
  line-height: 0.95;
  letter-spacing: 0.7;
  margin-bottom: 1rem;
}

.header-text {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 500;
}

/**************************/
/* ABOUT */
/**************************/

.container {
  margin: 0 2rem 2rem 2rem;
  color: #333;
}

.z-pattern {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.about-img-box {
  width: 100%;
}

.about-text-box {
  padding: 10rem;
  background-color: #f7f7f7;
  text-align: center;
}

.about-heading {
  font-size: 4.2rem;
  letter-spacing: -2px;
  line-height: 1;
  word-spacing: -4px;

  margin-bottom: 0.5rem;
}
.about-subheading {
  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 4rem;
}

.about-text {
  font-size: 1.4rem;
}

/**************************/
/* STATISTICS */
/**************************/

.section-statistic {
  width: 110rem;
  margin: 3.2rem auto;

  grid-column: span 2;
}
.statistics-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistic-num {
  font-size: 4.2rem;
  font-weight: 700;
}
.statistic-info {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 500;
}

/**************************/
/* STATISTICS */
/**************************/

.services {
  font: #333;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.service {
  text-align: center;
  padding: 5rem;
  background-color: #f7f7f7;
}

.service-icon {
  display: inline-block;
  font-size: 10rem;
  margin-bottom: 1rem;
}
.service-heading {
  font-size: 4.2rem;
  letter-spacing: -2px;
  word-spacing: -4px;
  margin-bottom: 0.5rem;
}
.service-text {
  font-size: 1.4rem;
}

/**************************/
/* TESTIMONIALS */
/**************************/

.section-testimonials {
  text-align: center;
  margin: 10rem 0;
}

.testimonial-heading {
  font-size: 4.2rem;
  letter-spacing: -2px;
  word-spacing: -4px;
  line-height: 1;
}

.testimonial-subheading {
  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 5rem;
}

.testimonial-quote {
  font-size: 1.6rem;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 0.5rem;
}
.testimonial-author {
  font-size: 1.4rem;
}

/**************************/
/* PORTFOLIO */
/**************************/

.portfolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 5rem;
}

.portfolio-box-main {
  background-color: #f7f7f7;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-box {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.portfolio-img {
  max-width: 100%;
  object-fit: fill;
}

/**************************/
/* CONTACT */
/**************************/

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form {
  width: 75rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  font-family: "Montserrat", sans-serif;
  resize: none;
  width: 100%;
  padding: 1rem;
  margin-bottom: 4rem;
}

.form-label {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: -1px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.form-btn {
  background-color: #fff;
  padding: 1.5rem 3rem;
  font-size: 1.4rem;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  color: #fff;
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem 0;
}

.footer-nav {
  list-style: none;
}

.footer-link {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.address {
  font-weight: 600;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  margin-top: 1.1rem;
  gap: 1.1rem;
}

.social-icon {
  color: #7d7d7d;
  font-size: 2.2rem;
}

.footer h3 {
  text-transform: uppercase;
  color: #7d7d7d;
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 3rem;
}
